@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  box-sizing: border-box;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

//* Navigation
nav {
  display: flex;
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    .drum-stick {
      color: black;
      font-size: 40px;
      transition: 0.6s;
    }
    .drum-stick:hover {
      transform: scale(1.13);
    }
    .name {
      display: flex;
      align-items: center;
      color: black;
      h1 {
        color: black;
        margin-left: 50px;
        float: left;
        font-size: 50px;
        font-family: 'Pacifico', cursive;
      }
    }
    
    .heart {
      margin-right: 50px;
      float: right;
      font-size: 40px;
      color: #FF0266;
      transition: 0.6s;
    }
    i.fas.fa-heart {
      color: #FF0266;
    }
    .heart:hover {
      color: rgb(235, 0, 0);
      transform: scale(1.13);
    }
  }
}



//* Home component wrapper & Search
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  input {
    margin-top: 100px;
    margin-bottom: 40px;
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
    outline: none;
    width: 200px;
    width: 200px;
    animation: fadein 0.9s;
  }
  input::placeholder {
    font-size: 20px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//* Card
.meal-card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.6s;
  animation: fadein 1.3s;
  img {
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .meal-card-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(131, 131, 131);
    .title-fav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5 {
        color: black;
      }
      .fa-heart{
        margin-right: 20px;
        font-size: 20px;
        color: #FF0266;
      }
    }
    p {
      margin-top: -5px;
    }
  }
}
.meal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.my-modal {
    // width: 400px;    /* Occupy the 90% of the screen width */
    max-width: 1300px!important;
  .modal-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    h2 {
      margin-left: 10px;
      text-align: center;
      font-family: 'Pacifico', cursive;
    }
    h3 {
      margin-right: 10px;
      color: #FF0266;
      font-size: 20px;
      margin-top: 10px;
    }
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    .img-text {
      display: flex;
      justify-content: space-between;
      img {
        max-width: 35%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      .instructions {
        margin-left: 35px;
        h4 {
          color: grey;
        }
      }
    }

    .ingredients{
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-top: 40px;
      margin-right: 50px;
      ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          margin: 10px;
          text-decoration: none;
          list-style: none;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          padding: 10px;
          border-radius: 20px;
          color: #FF6F00;
          transition: 0.6s;
          animation: 0.7s fadein;
          strong {
            color: black;
          }
        }
        li:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}



